body {
    margin: 0px;
    background: #FFF8EB;
    display: flex;
    flex-direction: column;
  }

.header {
  border-bottom: 1px solid #DBD5CA;
  padding: 0 2em;
}

.header a{
    font-size: 18px;
    display: block;
    color: #484848;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

.header a:hover{
  text-decoration: line-through;
}

.section, .section-lined {
    padding: 0em 2em;
    margin-top: 8em;
}

.section-lined {
  overflow: hidden;
}

.ending-note-section {
  margin: 8em 0em;
}

.ending-note {
  padding: 0em 2em;
  text-align: center;
}

.ending-note p {
  text-align: center;
}

.section-lined h1:after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid;
  width: 100%;
  margin: 0 -55% 0 .5em;
}

h1 {
  font-size: 36px;
  color: #484848;
  font-family: minion-pro-caption,serif;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  color: #484848;
  font-family: 'Courier New', Courier;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  color: #484848;
  font-family: 'Courier New', Courier;
  font-weight: normal; 
}

p {
  font-family: minion-pro-caption,serif;
  font-weight: 400;
  font-style: normal;
  color: #484848;
  font-size: 18px;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.activity-type-icon {
    display: block;
    margin: 0em auto;
    margin-bottom: 3em;
}

.grid-container {
    margin: 5em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inflow-item, .bidirectional-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-icon {
  height: 93px;
}

.activity-label {
  font-size: 12px;
  color: #484848;
  font-family: 'Courier New', Courier;
  font-weight: normal;
  padding: 2em 0em;
  text-align: center;
}

.footer {
  background-color: #055244;
}

.footer h1, .footer h2, .footer p{
  color: white;
}

.footer #team-section {
  margin-top: 0em;
}

.footer .grid-container {
  row-gap: 1em;
}

.blob-mobile {
  display: block;
}

.blob-desktop {
  display: none;
}

.line {
  display: none;
}

#chapters-blob{
  background-color: #055244;
  margin-top: 0em;
}

#chapters-blob h1, #chapters-blob h2{
  color: white;
}

#chapters-blob a{
  text-decoration: none;
}

#chapters-blob a:hover{
text-decoration: white line-through;
}

@media (min-width: 768px) {
  body {
    flex-direction: row;
  }

  .header {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 0em;
    display: none;
  }

  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 28px;
  }

  .section-lined h1:after{
    display: none;
  }

  .section, .section-lined{
      min-width: 900px;
      display: flex;
      height: 100vh;
      flex-direction: column;
      margin: 0em;
  }

  .section-lined h3 {
    margin-block-start: 0px;
  }

  .section-lined h1 {
    margin-block-end: 0px;
  }

  #chapters-blob{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .ending-note-section{
      display: flex;
      flex-direction: row;
      height: 100vh;
      margin: 0em;
      align-items: center;
      margin-left: 2em;
      margin-right: 20em;
  }

  .ending-note, .ending-note p {
    text-align: start;
  }

  .ending-note {
    width: 650px;
    margin: 0 18em;
  }

  #grid-section {
    min-width: auto;
    justify-content: center;
  }

  .disclaimer-note {
    font-size: small;
    font-style: italic;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }

  .footer .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer p {
    width: 50%;
  }

  .blob-desktop {
    display: block;
  }
  
  .blob-mobile {
    display: none;
  }

  #team-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .activity-type-icon {
      margin: 0px;
      width: 150px;
  }

  .grid-container {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .inflow-item {
    grid-row: 1;
  }

  .bidirectional-item {
    grid-row: 2;
  }

  .condensed-text {
    width: 450px;
  }

  .line {
    display: block;
    height: 100vh;
  }

  #desktop-background-line {
    background-image: url('../images/lines/line 1.svg'); 
    min-width: 2160px;
  }

  #desktop-bottom-margin {
    margin-bottom: 150px;
  }

  /* POSITIONED ELEMENTS */

  #one{
    position: relative;
    top: 15%;
    left: 10%;
  }

  #two{
    align-items: center;
    margin-left: 10em;
    margin-right: 25em;
  }

  #two-child {
    width: 700px;
  }

  #three {
    min-width: auto;
    justify-content: center;
  }

  #four{
    min-width: auto;
    justify-content: flex-end;
  }

  #four p{
    margin-bottom: 8vh;
  }

  #six {
    justify-content: flex-end;
  }

  #seven {
    justify-content: center;
  }

  #eight {
    justify-content: flex-end;
  }

  #ten {
    justify-content: flex-end;
  }

  #twelve {
    justify-content: center;
  }

  #time {
    min-width: 1700px;
    align-items: flex-end;
  }

  #time-div {
    width: 600px;
  }

  #mood {
    min-width: 1350px;
    align-items: flex-end;
  }

  #mood-div {
    width: 600px;
  }

  #attitude {
    min-width: 1500px;
    align-items: flex-start;
    margin-left: 15em;
  }

  #attitude-div {
    width: 600px;
  }

  #end {
    justify-content: center;
  }

  #activity-1 {
    background: url('../images/lines/activity 1.svg') no-repeat center;
    width: 100%;
    flex: 2;
  }

  #activity-2 {
    background: url('../images/lines/activity 2.svg') no-repeat center;
    width: 100%;
    flex: 1;
  }

  #time-1 {
    background: url('../images/lines/time 1.svg') no-repeat center;
    width: 100%;
    flex: 2;
  }

  #time-2 {
    background: url('../images/lines/time 2.svg') no-repeat center;
    width: 100%;
    flex: 1;
  }

}